.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.details {
  width: 100%;
  max-height: max-content;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 800;
  line-height: 34px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
  max-width: var(--max-width);
  padding: var(--spacing-padding);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.details > span {
  color: #161616;
}

.details > strong {
  color: #c5374f;
}
